---
layout: default
title: Home
notitle: true

# groups of columns of {roles: list, width: num, image: bool}
role-tables:
- - roles: [faculty, postdoc, staff]
    width: 4
    image: true
  - roles: [grad]
    width: 8
    image: true
- - roles: [masters, collab]
    width: 4
    image: true
  - roles: [ugrad]
    width: 8
    image: true
---

<!-- Hero Section -->
<div id="home" class="container-fluid bg-light py-5 mb-5">
  <div class="row align-items-center">
    <div class="col-12 px-5">
      <h1 class="display-4 mb-4">John AI Lab</h1>
      <p class="lead">
        Welcome to the John AI Lab at the
        <a href="https://www.comp.nus.edu.sg/">School of Computing</a>,
        <a href="https://nus.edu.sg/">National University of Singapore</a>.
      </p>
    </div>
  </div>
</div>


<!-- News Section -->
<div class="container mb-5">
  <h2 class="border-bottom pb-2">News</h2>
  <ul class="news list-unstyled">
      {% for post in site.posts limit: site.front_page_news %}
          {% include news-item.html item=post %}
      {% endfor %}
  </ul>
  {% assign numposts = site.posts | size %}
  {% if numposts >= 1 %}
      <p>
          <span class="fa fa-fw fa-history"></span>
          <a href="{{ site.base }}/blog.html">Older posts&hellip;</a>
      </p>
  {% endif %}
</div>

<!-- Research Section -->
<div id="research" class="container mb-5">
  <h2 class="border-bottom pb-2">Featured Research</h2>
  <div class="row d-flex align-items-stretch">
      {% comment %}
      Sort the projects by date, putting those without dates last
      {% endcomment %}
      {% assign projects_by_date = site.projects | sort: 'last-updated', 'first' | reverse %}
      {% for p in projects_by_date %}
          {% if p.status != "inactive" %}
              <div class="col-12 col-md-6 col-lg-4 mb-4 d-flex">
                  {% include project-card.html project=p %}
              </div>
          {% endif %}
      {% endfor %}
  </div>
</div>

<!-- Mission Section -->
<div class="container mb-5">
  <div class="row">
    <div class="col-md-12">
      <h2 class="border-bottom pb-2">Mission</h2>
      <div class="p-4 bg-light rounded">
        <p class="lead mb-0">Feel the AGI.</p>
      </div>
    </div>
  </div>
</div>

<!-- People Section -->
<div id="people" class="container mb-5">
  <h2 class="border-bottom pb-2">People</h2>
  {% for role-table in page.role-tables %}
    <div class="row d-flex flex-wrap"> <!-- Added flex utility classes -->
      {% for role-column in role-table %}
        <div class="col-md-{{ role-column.width }}">
          {% for role in role-column.roles %}
            {% include role-people.html role=role image=role-column.image %}
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  {% endfor %}
</div>

<!-- Publications Section -->
<div id="publications" class="container mb-5">
  <h2 class="border-bottom pb-2">Publications</h2>
  <p>
      <a href="{{ site.base }}/bib/pubs.bib">Download BibTeX.</a>
  </p>
  <p class="footnote">
      *: equal contribution, †: equal advising
  </p>
  {% include pubs.html %}
</div>
