<table class="table">
    <tbody>
        <tr>
            <td>
                <span class="date">
                    
                    <big><strong>2025</strong></big><br />
                    
                    May
                </span>
            </td>
            <td class="publication">
                <span class="pubtitle">
                    <img src="img/pdficon_small.png" width="16" height="16" alt="PDF" />
                    <a href="https://arxiv.org/pdf/2503.01926">Unnatural Languages Are Not Bugs but Features for LLMs</a>
                </span><br />
                <span class="authors">
                    Keyu Duan*, Yiran Zhao*, Zhili Feng, Jinjie Ni, Tianyu Pang, Qian Liu, Tianle Cai, Longxu Dou, Kenji Kawaguchi, Anirudh Goyal, J. Zico Kolter, and Michael Qizhe Shieh
                </span><br />
                <span class="venuetype"></span><span class="venue">ICML 2025</span>
                <br />
                <span class="links">
                </span>
            </td>
        </tr>
        <tr>
            <td>
                <span class="date">
                    
                    <big><strong>2025</strong></big><br />
                    
                    May
                </span>
            </td>
            <td class="publication">
                <span class="pubtitle">
                    <img src="img/pdficon_small.png" width="16" height="16" alt="PDF" />
                    <a href="https://arxiv.org/pdf/2502.20330">Long-Context Inference with Retrieval-Augmented Speculative Decoding</a>
                </span><br />
                <span class="authors">
                    Guanzheng Chen*, Qilong Feng*, Jinjie Ni, Xin Li, and Michael Qizhe Shieh
                </span><br />
                <span class="venuetype"></span><span class="venue">ICML 2025 (Spotlight)</span>
                <br />
                <span class="links">
                </span>
            </td>
        </tr>
        <tr>
            <td>
                <span class="date">
                    
                    <big><strong>2025</strong></big><br />
                    
                    January
                </span>
            </td>
            <td class="publication">
                <span class="pubtitle">
                    <img src="img/pdficon_small.png" width="16" height="16" alt="PDF" />
                    <a href="https://arxiv.org/pdf/2408.03910?">CODEXGRAPH: Bridging Large Language Models and Code Repositories via Code Graph Databases</a>
                </span><br />
                <span class="authors">
                    Xiangyan Liu*, Bo Lan*, Zhiyuan Hu, Yang Liu, Zhicheng Zhang, Fei Wang, Michael Qizhe Shieh, and Wenmeng Zhou
                </span><br />
                <span class="venuetype"></span><span class="venue">NAACL 2025</span>
                <br />
                <span class="links">
                </span>
            </td>
        </tr>
        <tr>
            <td>
                <span class="date">
                    
                    <big><strong>2025</strong></big><br />
                    
                    January
                </span>
            </td>
            <td class="publication">
                <span class="pubtitle">
                    <img src="img/pdficon_small.png" width="16" height="16" alt="PDF" />
                    <a href="https://arxiv.org/abs/2410.13754">MixEval-X: Any-to-Any Evaluations from Real-World Data Mixtures</a>
                </span><br />
                <span class="authors">
                    Jinjie Ni, Yiran Song, Deepanway Ghosal, Bo Li, David Junhao Zhang, Xiang Yue, Fuzhao Xue, Zian Zheng, Kaichen Zhang, Mahir Shah, Kabir Jain, Yang You, and Michael Qizhe Shieh
                </span><br />
                <span class="venuetype"></span><span class="venue">ICLR 2025 (Spotlight)</span>
                <br />
                <span class="links">
                </span>
            </td>
        </tr>
        <tr>
            <td>
                <span class="date">
                    
                    <big><strong>2025</strong></big><br />
                    
                    January
                </span>
            </td>
            <td class="publication">
                <span class="pubtitle">
                    <img src="img/pdficon_small.png" width="16" height="16" alt="PDF" />
                    <a href="https://openreview.net/forum?id=yR47RmND1m">Identifying and Tuning Safety Neurons in Large Language Models</a>
                </span><br />
                <span class="authors">
                    Yiran Zhao, Wenxuan Zhang, Yuxi Xie, Anirudh Goyal, Kenji Kawaguchi, and Michael Qizhe Shieh
                </span><br />
                <span class="venuetype"></span><span class="venue">ICLR 2025</span>
                <br />
                <span class="links">
                </span>
            </td>
        </tr>
        <tr>
            <td>
                <span class="date">
                    
                    <big><strong>2025</strong></big><br />
                    
                    January
                </span>
            </td>
            <td class="publication">
                <span class="pubtitle">
                    <img src="img/pdficon_small.png" width="16" height="16" alt="PDF" />
                    <a href="https://www.arxiv.org/abs/2502.13922">LongPO: Long Context Self-Evolution of Large Language Models through Short-to-Long Preference Optimization</a>
                </span><br />
                <span class="authors">
                    Guanzheng Chen, Xin Li, Michael Qizhe Shieh, and Lidong Bing
                </span><br />
                <span class="venuetype"></span><span class="venue">ICLR 2025</span>
                <br />
                <span class="links">
                </span>
            </td>
        </tr>
        <tr>
            <td>
                <span class="date">
                    
                    <big><strong>2024</strong></big><br />
                    
                    December
                </span>
            </td>
            <td class="publication">
                <span class="pubtitle">
                    <img src="img/pdficon_small.png" width="16" height="16" alt="PDF" />
                    <a href="https://arxiv.org/pdf/2407.03232">Single Character Perturbations Break LLM Alignment</a>
                </span><br />
                <span class="authors">
                    Leon Lin*, Hannah Brown*, Kenji Kawaguchi, and Michael Shieh
                </span><br />
                <span class="venuetype"></span><span class="venue">AAAI 2025</span>
                <br />
                <span class="links">
                </span>
            </td>
        </tr>
        <tr>
            <td>
                <span class="date">
                    
                    <big><strong>2024</strong></big><br />
                    
                    September
                </span>
            </td>
            <td class="publication">
                <span class="pubtitle">
                    <img src="img/pdficon_small.png" width="16" height="16" alt="PDF" />
                    <a href="https://arxiv.org/pdf/2403.01251">Accelerating greedy coordinate gradient via probe sampling</a>
                </span><br />
                <span class="authors">
                    Yiran Zhao, Wenyue Zheng, Tianle Cai, Xuan Long Do, Kenji Kawaguchi, Anirudh Goyal, and Michael Qizhe Shieh
                </span><br />
                <span class="venuetype"></span><span class="venue">NeurIPS 2024</span>
                <br />
                <span class="links">
                </span>
            </td>
        </tr>
        <tr>
            <td>
                <span class="date">
                    
                    <big><strong>2024</strong></big><br />
                    
                    September
                </span>
            </td>
            <td class="publication">
                <span class="pubtitle">
                    <img src="img/pdficon_small.png" width="16" height="16" alt="PDF" />
                    <a href="https://arxiv.org/pdf/2405.00451">Monte Carlo Tree Search Boosts Reasoning via Iterative Preference Learning</a>
                </span><br />
                <span class="authors">
                    Yuxi Xie, Anirudh Goyal, Wenyue Zheng, Min-Yen Kan, Timothy P Lillicrap, Kenji Kawaguchi, and Michael Shieh
                </span><br />
                <span class="venuetype"></span><span class="venue">NeurIPS 2024 Workshop</span>
                <br />
                <span class="links">
                </span>
            </td>
        </tr>
        <tr>
            <td>
                <span class="date">
                    
                    <big><strong>2024</strong></big><br />
                    
                    September
                </span>
            </td>
            <td class="publication">
                <span class="pubtitle">
                    <img src="img/pdficon_small.png" width="16" height="16" alt="PDF" />
                    <a href="https://www.arxiv.org/pdf/2408.14866">Advancing Adversarial Suffix Transfer Learning on Aligned Large Language Models</a>
                </span><br />
                <span class="authors">
                    Hongfu Liu*, Yuxi Xie*, Ye Wang, and Michael Shieh
                </span><br />
                <span class="venuetype"></span><span class="venue">EMNLP 2024</span>
                <br />
                <span class="links">
                </span>
            </td>
        </tr>
        <tr>
            <td>
                <span class="date">
                    
                    <big><strong>2024</strong></big><br />
                    
                    September
                </span>
            </td>
            <td class="publication">
                <span class="pubtitle">
                    <img src="img/pdficon_small.png" width="16" height="16" alt="PDF" />
                    <a href="https://arxiv.org/pdf/2411.05345">Reasoning Robustness of LLMs to Adversarial Typographical Errors</a>
                </span><br />
                <span class="authors">
                    Esther Gan*, Yiran Zhao*, Liying Cheng, Yancan Mao, Anirudh Goyal, Kenji Kawaguchi, Min-Yen Kan, and Michael Shieh
                </span><br />
                <span class="venuetype"></span><span class="venue">EMNLP 2024</span>
                <br />
                <span class="links">
                </span>
            </td>
        </tr>
        <tr>
            <td>
                <span class="date">
                    
                    <big><strong>2024</strong></big><br />
                    
                    May
                </span>
            </td>
            <td class="publication">
                <span class="pubtitle">
                    <img src="img/pdficon_small.png" width="16" height="16" alt="PDF" />
                    <a href="https://arxiv.org/pdf/2310.20329">Instructcoder: Instruction tuning large language models for code editing</a>
                </span><br />
                <span class="authors">
                    Kaixin Li*, Qisheng Hu*, James Zhao, Hui Chen, Yuxi Xie, Tiedong Liu, Michael Shieh†, and Junxian He†
                </span><br />
                <span class="venuetype"></span><span class="venue">ACL 2024 Workshop</span>
                <br />
                <span class="links">
                </span>
            </td>
        </tr>
        <tr>
            <td>
                <span class="date">
                    
                    <big><strong>2024</strong></big><br />
                    
                    May
                </span>
            </td>
            <td class="publication">
                <span class="pubtitle">
                    <img src="img/pdficon_small.png" width="16" height="16" alt="PDF" />
                    <a href="https://arxiv.org/pdf/2312.02614">Prompt optimization via adversarial in-context learning</a>
                </span><br />
                <span class="authors">
                    Xuan Long Do*, Yiran Zhao*, Hannah Brown*, Yuxi Xie, James Xu Zhao, Nancy F. Chen, Kenji Kawaguchi, Michael Shieh†, and Junxian He†
                </span><br />
                <span class="venuetype"></span><span class="venue">ACL 2024 (Oral)</span>
                <br />
                <span class="links">
                </span>
            </td>
        </tr>
        <tr>
            <td>
                <span class="date">
                    
                    <big><strong>2023</strong></big><br />
                    
                    October
                </span>
            </td>
            <td class="publication">
                <span class="pubtitle">
                    <img src="img/pdficon_small.png" width="16" height="16" alt="PDF" />
                    <a href="https://arxiv.org/pdf/2305.00633">Self-evaluation guided beam search for reasoning</a>
                </span><br />
                <span class="authors">
                    Yuxi Xie, Kenji Kawaguchi, Yiran Zhao, James Xu Zhao, Min-Yen Kan†, Junxian He†, and Michael Xie†
                </span><br />
                <span class="venuetype"></span><span class="venue">NeurIPS 2023</span>
                <br />
                <span class="links">
                </span>
            </td>
        </tr>
        <tr>
            <td>
                <span class="date">
                    
                    <big><strong>2023</strong></big><br />
                    
                    October
                </span>
            </td>
            <td class="publication">
                <span class="pubtitle">
                    <img src="img/pdficon_small.png" width="16" height="16" alt="PDF" />
                    <a href="https://arxiv.org/pdf/2305.14333">Automatic model selection with large language models for reasoning</a>
                </span><br />
                <span class="authors">
                    James Xu Zhao, Yuxi Xie, Kenji Kawaguchi, Junxian He, and Michael Qizhe Xie
                </span><br />
                <span class="venuetype"></span><span class="venue">EMNLP 2023 Findings</span>
                <br />
                <span class="links">
                </span>
            </td>
        </tr>
        <tr>
            <td>
                <span class="date">
                    
                    <big><strong>2023</strong></big><br />
                    
                    May
                </span>
            </td>
            <td class="publication">
                <span class="pubtitle">
                    <img src="img/pdficon_small.png" width="16" height="16" alt="PDF" />
                    <a href="https://arxiv.org/pdf/2312.02614">Multi-Source Test-Time Adaptation as Dueling Bandits for Extractive Question Answering</a>
                </span><br />
                <span class="authors">
                    Hai Ye, Qizhe Xie, and Hwee Tou Ng
                </span><br />
                <span class="venuetype"></span><span class="venue">ACL 2023</span>
                <br />
                <span class="links">
                </span>
            </td>
        </tr>
        <tr>
            <td>
                <span class="date">
                    
                    <big><strong>2021</strong></big><br />
                    
                    February
                </span>
            </td>
            <td class="publication">
                <span class="pubtitle">
                    <img src="img/pdficon_small.png" width="16" height="16" alt="PDF" />
                    <a href="https://arxiv.org/pdf/2003.10580">Meta pseudo labels</a>
                </span><br />
                <span class="authors">
                    Hieu Pham, Zihang Dai, Qizhe Xie, and Quoc V. Le
                </span><br />
                <span class="venuetype"></span><span class="venue">CVPR 2021</span>
                <br />
                <span class="links">
                </span>
            </td>
        </tr>
        <tr>
            <td>
                <span class="date">
                    
                    <big><strong>2020</strong></big><br />
                    
                    October
                </span>
            </td>
            <td class="publication">
                <span class="pubtitle">
                    <img src="img/pdficon_small.png" width="16" height="16" alt="PDF" />
                    <a href="https://arxiv.org/pdf/2406.06565">Unsupervised data augmentation for consistency training</a>
                </span><br />
                <span class="authors">
                    Qizhe Xie, Zihang Dai, Eduard Hovy, Thang Luong, and Quoc V. Le
                </span><br />
                <span class="venuetype"></span><span class="venue">NeurIPS 2020</span>
                <br />
                <span class="links">
                </span>
            </td>
        </tr>
        <tr>
            <td>
                <span class="date">
                    
                    <big><strong>2020</strong></big><br />
                    
                    February
                </span>
            </td>
            <td class="publication">
                <span class="pubtitle">
                    <img src="img/pdficon_small.png" width="16" height="16" alt="PDF" />
                    <a href="https://arxiv.org/pdf/2406.06565">Self-training with noisy student improves imagenet classification</a>
                </span><br />
                <span class="authors">
                    Qizhe Xie, Minh-Thang Luong, Eduard Hovy, and Quoc V. Le
                </span><br />
                <span class="venuetype"></span><span class="venue">CVPR 2020</span>
                <br />
                <span class="links">
                </span>
            </td>
        </tr>
        <tr>
            <td>
                <span class="date">
                    
                    <big><strong>2017</strong></big><br />
                    
                    November
                </span>
            </td>
            <td class="publication">
                <span class="pubtitle">
                    <img src="img/pdficon_small.png" width="16" height="16" alt="PDF" />
                    <a href="https://aclanthology.org/D17-1082.pdf">RACE: Large-scale ReAding Comprehension Dataset From Examinations</a>
                </span><br />
                <span class="authors">
                    Guokun Lai*, Qizhe Xie*, Hanxiao Liu, Yiming Yang, and Eduard Hovy
                </span><br />
                <span class="venuetype"></span><span class="venue">EMNLP 2017</span>
                <br />
                <span class="links">
                </span>
            </td>
        </tr>
    </tbody>
</table>
