<table class="table">
<tbody>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2024</strong></big><br />
				
				September
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://arxiv.org/pdf/2403.01251">Accelerating greedy coordinate gradient via probe sampling</a>.
			</span><br />
			<span class="authors">
				Yiran Zhao, Wenyue Zheng, Tianle Cai, Xuan Long Do, Kenji Kawaguchi, Anirudh Goyal, and Michael Shieh.
			</span><br />
			<span class="venuetype"></span><span class="venue">NeurIPS 2024</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2024</strong></big><br />
				
				September
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://www.arxiv.org/abs/2408.14866">Advancing Adversarial Suffix Transfer Learning on Aligned Large Language Models</a>.
			</span><br />
			<span class="authors">
				Hongfu Liu, Yuxi Xie, Ye Wang, and Michael Shieh.
			</span><br />
			<span class="venuetype"></span><span class="venue">EMNLP 2024</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2024</strong></big><br />
				
				September
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://openreview.net/forum?id=Hn6CZ6m7QO">Reasoning Robustness of LLMs to Adversarial Typographical Errors</a>.
			</span><br />
			<span class="authors">
				Gan Esther, Yiran Zhao, Liying Cheng, Yancan Mao, Anirudh Goyal, Kenji Kawaguchi, Min-Yen Kan, and Michael Shieh.
			</span><br />
			<span class="venuetype"></span><span class="venue">EMNLP 2024</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2024</strong></big><br />
				
				May
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://arxiv.org/abs/2310.20329">Instructcoder: Instruction tuning large language models for code editing</a>.
			</span><br />
			<span class="authors">
				Kaixin Li, Qisheng Hu, James Zhao, Hui Chen, Yuxi Xie, Tiedong Liu, Michael Shieh, and Junxian He.
			</span><br />
			<span class="venuetype"></span><span class="venue">ACL 2024</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2024</strong></big><br />
				
				May
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://arxiv.org/abs/2312.02614">Prompt optimization via adversarial in-context learning</a>.
			</span><br />
			<span class="authors">
				Xuan Long Do, Yiran Zhao, Hannah Brown, Yuxi Xie, James Xu Zhao, Nancy F Chen, Kenji Kawaguchi, Michael Shieh, and Junxian He.
			</span><br />
			<span class="venuetype"></span><span class="venue">ACL 2024</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2023</strong></big><br />
				
				October
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://arxiv.org/abs/2305.00633">Self-evaluation guided beam search for reasoning</a>.
			</span><br />
			<span class="authors">
				Yuxi Xie, Kenji Kawaguchi, Yiran Zhao, James Xu Zhao, Min-Yen Kan, Junxian He, and Michael Xie.
			</span><br />
			<span class="venuetype"></span><span class="venue">NeurIPS 2023</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2023</strong></big><br />
				
				May
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://arxiv.org/abs/2312.02614">Multi-Source Test-Time Adaptation as Dueling Bandits for Extractive Question Answering</a>.
			</span><br />
			<span class="authors">
				Hai Ye, Qizhe Xie, and Hwee Tou Ng.
			</span><br />
			<span class="venuetype"></span><span class="venue">ACL 2023</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2021</strong></big><br />
				
				February
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://arxiv.org/abs/2003.10580">Meta pseudo labels</a>.
			</span><br />
			<span class="authors">
				Hieu Pham, Zihang Dai, Qizhe Xie, and Quoc V Le.
			</span><br />
			<span class="venuetype"></span><span class="venue">CVPR 2021</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2020</strong></big><br />
				
				October
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://arxiv.org/abs/2406.06565">Unsupervised data augmentation for consistency training</a>.
			</span><br />
			<span class="authors">
				Qizhe Xie, Zihang Dai, Eduard Hovy, Thang Luong, and Quoc Le.
			</span><br />
			<span class="venuetype"></span><span class="venue">NeurIPS 2020</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2020</strong></big><br />
				
				February
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://arxiv.org/abs/2406.06565">Self-training with noisy student improves imagenet classification</a>.
			</span><br />
			<span class="authors">
				Qizhe Xie, Minh-Thang Luong, Eduard Hovy, and Quoc V Le.
			</span><br />
			<span class="venuetype"></span><span class="venue">CVPR 2020</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2017</strong></big><br />
				
				November
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://aclanthology.org/D17-1082">RACE: Large-scale ReAding Comprehension Dataset From Examinations</a>.
			</span><br />
			<span class="authors">
				Guokun Lai, Qizhe Xie, Hanxiao Liu, Yiming Yang, and Eduard Hovy.
			</span><br />
			<span class="venuetype"></span><span class="venue">EMNLP 2017</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
</tbody>
</table>
